@font-face {
    font-family: PermanentMarker;
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-VariableFont_wght.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}